[submodule "src/weechat/wee-slack"]
	path = src/weechat/wee-slack
	url = https://github.com/wee-slack/wee-slack.git
[submodule "src/temper-python"]
	path = src/temper-python
	url = https://github.com/padelt/temper-python.git
[submodule "src/tpm"]
	path = src/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "src/htop"]
	path = src/htop
	url = https://github.com/hishamhm/htop.git
[submodule "src/htop-vim-solarized-git"]
	path = src/htop-vim-solarized-git
	url = https://aur.archlinux.org/htop-vim-solarized-git.git
[submodule "src/hhpc"]
	path = src/hhpc
	url = https://github.com/aktau/hhpc.git
[submodule "src/st"]
	path = src/st
	url = git@github.com:Struchu/st.git
	branch = struchu
[submodule "src/bitlbee"]
	path = src/bitlbee
	url = https://github.com/bitlbee/bitlbee.git
[submodule "src/zplug"]
	path = src/zplug
	url = https://github.com/zplug/zplug
[submodule "src/dwm"]
	path = src/dwm
	url = git@github.com:Struchu/dwm.git
[submodule "src/dwmblocks"]
	path = src/dwmblocks
	url = git@github.com:Struchu/dwmblocks.git
[submodule "src/slock"]
	path = src/slock
	url = git@github.com:Struchu/slock.git
[submodule "src/purple-hangouts"]
	path = src/purple-hangouts
	url = git@github.com:EionRobb/purple-hangouts.git
