holiday.pl-PL1.name=Nowy Rok
holiday.pl-PL1.date=20180101
holiday.pl-PL2.name=Trzech Króli
holiday.pl-PL2.date=20180106
holiday.pl-PL3.name=Wielkanoc
holiday.pl-PL3.date=20180401
holiday.pl-PL4.name=Poniedziałek Wielkanocny
holiday.pl-PL4.date=20180402
holiday.pl-PL5.name=Święto Pracy
holiday.pl-PL5.date=20180501
holiday.pl-PL6.name=Święto Konstytucji Trzeciego Maja
holiday.pl-PL6.date=20180503
holiday.pl-PL7.name=Zielone Świątki
holiday.pl-PL7.date=20180520
holiday.pl-PL8.name=Boże Ciało
holiday.pl-PL8.date=20180531
holiday.pl-PL9.name=Wniebowzięcie NMP
holiday.pl-PL9.date=20180815
holiday.pl-PL10.name=Wszystkich Świętych
holiday.pl-PL10.date=20181101
holiday.pl-PL11.name=Święto Niepodległości
holiday.pl-PL11.date=20181111
holiday.pl-PL12.name=Boże Narodzenie (pierwszy dzień)
holiday.pl-PL12.date=20181225
holiday.pl-PL13.name=Boże Narodzenie (drugi dzień)
holiday.pl-PL13.date=20181226
holiday.pl-PL14.name=Nowy Rok
holiday.pl-PL14.date=20190101
holiday.pl-PL15.name=Trzech Króli
holiday.pl-PL15.date=20190106
holiday.pl-PL16.name=Wielkanoc
holiday.pl-PL16.date=20190421
holiday.pl-PL17.name=Poniedziałek Wielkanocny
holiday.pl-PL17.date=20190422
holiday.pl-PL18.name=Święto Pracy
holiday.pl-PL18.date=20190501
holiday.pl-PL19.name=Święto Konstytucji Trzeciego Maja
holiday.pl-PL19.date=20190503
holiday.pl-PL20.name=Zielone Świątki
holiday.pl-PL20.date=20190609
holiday.pl-PL21.name=Boże Ciało
holiday.pl-PL21.date=20190620
holiday.pl-PL22.name=Wniebowzięcie NMP
holiday.pl-PL22.date=20190815
holiday.pl-PL23.name=Wszystkich Świętych
holiday.pl-PL23.date=20191101
holiday.pl-PL24.name=Święto Niepodległości
holiday.pl-PL24.date=20191111
holiday.pl-PL25.name=Boże Narodzenie (pierwszy dzień)
holiday.pl-PL25.date=20191225
holiday.pl-PL26.name=Boże Narodzenie (drugi dzień)
holiday.pl-PL26.date=20191226


